<h1>index</h1>

<% @tasks.each do |task| %>
  <p><%= link_to task.title, task_path(task) %></p>
  <p><%= task.completed ? "✔" : "❌" %></p>
  <p><%= link_to "☠", delete_task_path(task.id), method: :delete, data: { confirm: "Are you sure?" }%></p>
  <hr>
<% end %>

<%= link_to "Add a new task", new_task_path %>
